#root {
  --PrimaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 90%, 42%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDream: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
}

h1 {
  color: var(--PrimaryColor);
  font-size: 3rem;
  text-align: center;
}
.create-workshop-card {
  width: 80%;
  border-radius: 1rem;
  padding: 2rem;
  background: var(--whiteColor);
  position: absolute;
  gap: 2rem;
  justify-content: center;
  text-align: center;
  top: 20%;
  transform: translate(10%);
  box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.5);

  .workshopTitleDiv,
  .categoryTitleDiv,
  .subCategoryDiv,
  .durationDiv,
  .maxParticipantsDiv,
  .descriptionDiv,
  .workshopPicsDiv,
  .locationDiv,
  .workshopMaterialsDiv,
  .priceDiv {
    width: 100%;
    display: block;
    color: var(--textColor);
    font-weight: 500;
    font-size: 13px;
    padding-bottom: 0.4rem;
  }
}
input[type="text"],
[type="number"],
[type="file"],
[type="date"] {
  width: 100%;
  background: var(--inputColor);
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 13px;
  font-weight: 500;
}
select {
  width: 100%;
  background: var(--inputColor);
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 13px;
  font-weight: 500;
}

.btn {
  color: var(--whiteColor)
}

/* .workshopTitleDiv, .categoryTitleDiv, .subCategoryDiv, .durationDiv, .maxParticipantsDiv, .descriptionDiv, .workshopPicsDiv, .locationDiv, .workshopMaterialsDiv, .priceDiv {
  width: 100%;
  
  
  .workshopTitle, .category, .subCategory, .duration, .maxParticipants, .description, .workshop, .location, .workshopMaterial, .price label{
    display: block;
    color: var(--textColor);
    font-weight: 500;
    font-size: 13px;
    padding-bottom: .4rem;
  
  }
}  

.workshopTitle, .category, .subCategory, .duration, .maxParticipants, .description, .workshop, .location, .workshopMaterial, .price input {
  width: 100%;
  background: var(--inputColor);
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 13px;
  font-weight: 500;
}
.workshopTitle, .category, .subCategory, .duration, .maxParticipants, .description, .workshop, .location, .workshopMaterial, .price &::placeholder{
  font-size: 13px;
  opacity: .5;
  font-weight: 400;
} */

/* .create-workshop-container{
  border: 
} */
/* .create-workshop-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 2rem;
  border: 5px solid var(--clr-accent);
  border-radius: 5%;
}
select {
  width: 80%;
  padding: 16px 20px;
  border-radius: 4px;
  background-color: (--whiteColorDream);
  accent-color: var(--clr-accent);
  border: 3px solid var(--PrimaryColor)
}
input[type="text"],
[type="number"],
[type="file"],
[type="date"] {
  width: 100%;
  padding: 0.8rem 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  color: var(--clr-accent);
}
input[type="text"],
[type="number"],
[type="file"],
[type="date"]:focus {
  border: 3px solid rgb(196, 90, 19);
}
.create-workshop-form label {
  color: var(--clr-accent);
}
button:hover {
  background-color: rgb(225, 132, 70);
}
h1 {
  font-family: "luckyguy";
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: lighter;
  color: rgb(220, 115, 29);
} */
