.sessions-container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.sessions-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem;
  background: var(--whiteColor);
  position: absolute;
  gap: 2rem;
  justify-content: center;
  text-align: center;
  top: 300px;
  transform: translate(10%);
  box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.5);
}

.date-picker {
  display: flex;
  align-items: center;
}
