
/* login and sign up pages */
.login, .signup {
    margin-top: 200px;
}
.form-login, 
.want-signup {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 4;
    gap: 5px;
    
}

/* =====homepage=====start */
.homepage{
    padding-top: 150px;
    
}

.img-homepage-top{
    width: 50%;
    margin: 50px;
}

.students-block{
    width: 100%;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.chefs-block{
    width: 100%;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.homepage-top{
    margin-top: 50px;
}

/* .suggested-workshops{
    margin-top: 100px; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */ 
/* } */


.h2-padding{ 
    padding-bottom: 10px;
    /* background-color:lightgray;
    width: 40%;
    padding: 0px 0px 16px 0px; */

}
/* create workshop page */


.display-each-card{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* search result page */
.display-search-results{
    margin-top: 150px;
}

/* one workshop page */
.oneWorkshopPage{
    margin-top: 150px;
}

.oneWorkshopPage-pic{
    width: 80%;
    display: block;
    align-content: center;
    margin: 100px;
}

.workshop-all-pics{
    margin: 20px;
    display: flex;
    width: 80%;

}
.workshop-each-pics{
    margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px var(--PrimaryColor);
  width: 250px;
  height: 260px;
}

.workshop-details{
    margin:50px;
    padding : 10px;
    line-height: 3;
    width: 55%;
}

.price-availability{
    margin: 50px;
    height: 245px;
    line-height: 3;
    width: 30%;
    padding: 25px;
    background-color: chocolate;
    /* padding-left: 30px; */
    text-align: center;
}

.presentation-workshop{
    display: flex;
}

.teacher-details{
    width: 100%;
    margin: 50px;
    display: flex;
}

.teacher-presentation{
    margin: 50px;
    line-height: 2.5;
}

.teacher-pic{
    width: 30%;
}

.h2-center{
    text-align: center;
}

.book-workshop-button{
    margin: 100px;
    display: flex;
    justify-content: center;
}

/* =============== */



/* create booking page */
.cart{
    margin-top: 150px;
    margin-bottom: 50px;
}
.cart-workshop-pic{
    width: 150px;
    margin: 50px;
}

.one-cart-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.one-workshop-price{
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding:30px;
}
.cart-quantity{
    margin-top: 40px;
}
.buttonCart{
    height: 40px;
    width: 20px;
    margin-top: 30px;
}
.cart-text-details{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.total-price{
    align-items: end;
    margin-top: 50px;
}
.recap-price{
    align-items: end;
    margin: 40px;
}

.session {
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 50px;

}


/* .select-session{
    width: 50%;
} */
.quantity{
    display: inline-flex;
    margin: 40px;
    gap: 10px;
}
.total-price{
    font-size: 24px;
    color: coral;
    align-items: end;
    margin-top: 50px;
    display: flex;
    justify-content: end;
    margin-right: 50px;
}

.cancellation-policy{
    margin: 50px;
}
.validate-booking-button{
    display: flex;
    justify-content: center;
}

/* payment */
.payment{
    margin-top: 150px;
}

#payment-amount{
    margin: 50px;
    text-align: center;
}
.validate-payment{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.card-details{
    display: flex;
    justify-content: center;
}
.each-card{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.card{
    display:flex;
    margin-top: 20px;
}
.card-labels{
    width: 200px;
    margin: 10px;
}

