.card-workshop-pic{
    width: 150px;
    height: 140px;
}
.workshopCard{
    width: 200px;
    height: 370px;
    border: orange 2px solid;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    line-height: 2;
    margin: 30px;
}