#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --clr-accent: #f36527;
  --gradient: linear-gradient(
    45deg,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
}

.create-workshop-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 2rem;
  border: 5px solid var(--clr-accent);
  border-radius: 5%;
}
select {
  width: 80%;
  padding: 16px 20px;
  border-radius: 4px;
  background-color: #f1f1f1a1;
  accent-color: var(--clr-accent);
  border: 3px solid yellow;
}
input[type="text"],
[type="number"],
[type="file"],
[type="date"] {
  width: 100%;
  padding: 0.8rem 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  color: var(--clr-accent);
}
input[type="text"],
[type="number"],
[type="file"],
[type="date"]:focus {
  border: 3px solid yellow;
}
.create-workshop-form label {
  color: var(--clr-accent);
}
.submit-button:hover {
  background-color: var(--clr-accent);
}
.pagetitle {
  font-weight: lighter;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
